<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.aptmgmt.model.Building"></mapping>
        <mapping class="com.aptmgmt.model.House"></mapping>
        <mapping class="com.aptmgmt.model.Society"></mapping>
    </session-factory>
</hibernate-configuration>